@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

.font-secondary {
  font-family: 'Roboto', sans-serif;
}

.bg-primary {
  background-color: #211026;
}

.bg-secondary {
  background-color: #bf1f2c;
}

.bg-tertiary {
  background-color: #6d6d7b;
}

.font-color-secondary {
  color: #bf1f2c;
}

.font-color-tertiary {
  color: #6d6d7b;
}

.h-50 {
  height: 50vh;
}
